{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<!-- TODO upgrade to recent release -->
<!-- <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script> -->
{% endblock extra_js %}
{% block content %}
<div style="height:100vh">
    <!-- <a-scene>
        <a-assets>
            <a-asset-item id="boba" src="https://cdn.aframe.io/test-models/models/glTF-2.0/virtualcity/VC.gltf"></a-asset-item>
        </a-assets>
        <a-entity position="0 2 -1" gltf-model="#boba"></a-entity>
    </a-scene> -->
    {% for item in gltfs %}
    <span>{{ item }}</span>
    <a-scene stats loading-screen="enabled:false">
        <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
        <a-asset-item id="bobamodel" src="https://cdn.glitch.com/90a30469-f038-4054-be9c-fd1ec94a810d%2Fkitchentest.glb"></a-asset-item>
        <a-assets>
            
            <!-- <a-asset-item id="bobamodel" src="{{ item }}"></a-asset-item> -->
            <!-- <a-asset-item id="bobamodel" src="https://cdn.glitch.com/90a30469-f038-4054-be9c-fd1ec94a810d%2Fkitchentest.glb"></a-asset-item> -->
        </a-assets>
        <a-entity id="boba" position="0 1 -2" gltf-model="#bobamodel"></a-entity>
    </a-scene>
    {% endfor %}
</div>
{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock content %}
